body {
  color: $t;
  font-size: 16px;
  line-height: 20px;
  font-family: $fff;
}

a {
  color: $t;
  transition: color 0.6s ease-out;

  &:hover { color: $g; }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.breadcrumb-wrap {
  position: absolute;
  z-index: 9;
  top: 30px;
  left: 0;
  width: 100%;
}

.menu-active .breadcrumb-wrap { display: none; }

.breadcrumbs {
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  margin: 0;
  color: $w;

  a { color: $w; }
  .fa { margin: 0 6px; }
}

.email-link .fa {
  margin-right: 6px;
  color: $g;
  font-size: 12px;
}

.frame {
  width: 100%;
  overflow: hidden;

  .rail {
    left: 0;
    position: relative;
  }
}

.gry { background: $gr; }
.wrap { padding: 60px 0; }

.title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 500;
  margin: 0 auto 30px;

  &.limited {
    max-width: 980px;
  }
}

.page .title { text-align: center; }
.relpos { position: relative; }

.subtitle {
  font-weight: 400;
  font-size: 24px !important;
  line-height: 29px !important;
  margin: 30px 0;
}

.std-font {
  font-size: 18px;
  line-height: 22px;
}

.with-image {
  .title-logo {
    max-height: 71px;
    position: relative;
    top: -4px;
    height: auto;
  }

  span {
    display: none;
    vertical-align: top;
    width: 3px;
    background: $w;
    height: 73px;
    margin: 0 15px;
  }
}

.background-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.blur-image {
  overflow: hidden;

  img,
  .background-image { transition: all 0.6s ease-in; }
}

.banner {
  position: relative;
  overflow: hidden;
  min-height: 553px;
  text-align: center;

  .banner-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  h1 {
    color: $w;
    margin-bottom: 54px;
  }

  .headline {
    @extend .title;

    margin: 0 auto;
    color: $w;
    text-align: center;
  }

  .title:only-child {
    margin-bottom: 0;

    span { display: block; }
  }

  .title-logo {
    width: 72.75%;
    margin: 0 auto;
    display: block;
    max-width: 800px;

    + .headline { margin-top: 30px; }
  }

  .with-image {
    h1 { margin-bottom: 0; }

    img {
      margin: 0 auto 20px;
      width: auto;
      max-width: 75%;
      max-height: 65px;
      display: block;
    }
  }

  .wp-block-buttons {
    margin-bottom: 0;

    .button { margin: 0 10px 15px; }
  }
}

.centred {
  display: table;
  width: 100%;
  height: 100%;

  .centre {
    display: table-cell;
    vertical-align: middle;
  }
}

.entry-content { text-align: center; }

.top-bdr {
  padding-top: 0 !important;

  > div {
    padding-top: 120px;
    border-top: 1px solid $dgr;
  }
}

.icon {
  font: normal normal normal 14px/1 FontAwesome, serif;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.max-700 {
  margin-left: auto !important;
  margin-right: auto !important;
}

.no-margin { margin: 0 !important; }

.overlay {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 8;
}

.overlay-banner {
  .wrap {
    color: $w;
    text-align: center;
    padding-bottom: 120px;
    position: relative;

    p {
      margin-bottom: 30px;
    }

    .wp-block-columns p,
    .counter-label { margin-bottom: 0; }
  }

  .background-image {
    @extend .overlay;

    z-index: 0;
    transition: all 0.6s ease-out;

    + div {
      position: relative;
      z-index: 2;
      padding: 0;
    }
  }

  a { color: $w; }

  h2,
  h3 {
    margin: 0 auto 54px;
    max-width: 975px;
  }

  &.slim .wrap { padding-top: 90px; }
}

.entry-content .overlay-banner {
  h2,
  h3 {
    @extend .title;

    margin: 0 auto 54px;
    max-width: 975px;
  }

  .wp-block-columns h3 { margin-bottom: 8px; }
}

.blur-image:hover {
  .blur-this,
  .background-image {
    filter: blur(5px);
    transition: all 0.6s ease-out;
  }
}

@media (min-width: $tablet) {
  .wrap { padding: 120px 0; }
  .breadcrumb-wrap { top: 60px; }

  .std-font {
    font-size: 18px;
    line-height: 26px;
  }

  .title {
    font-size: 44px;
    line-height: 50px;
    margin: 0 auto 30px;
  }

  .subtitle {
    font-size: 36px !important;
    line-height: 44px !important;
    margin: 60px 0;
  }

  .with-image span {
    display: inline-block;
    position: relative;
    top: -5px;
  }

  .banner {
    .image-title + .headline {
      margin-top: 40px;
    }

    .with-image {
      h1 {
        display: inline-block;
        vertical-align: top;
        margin-top: 7px;
      }

      img {
        margin: 0;
        max-height: 55px;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}

@media (min-width: $desktop) {
  .title {
    font-size: 52px;
    line-height: 60px;
    margin: 0 auto 45px;

    &.limited {
      max-width: 980px;
    }
  }

  .std-font {
    font-size: 21px;
    line-height: 27px;
  }

  .banner {
    min-height: 553px;

    .image-title + .headline {
      margin-top: 60px;
    }

    .with-image {
      img {
        max-width: 480px;
        max-height: 65px;
      }
    }

    .title:only-child {
      margin-bottom: 0;
      max-width: 920px;
    }

    .wp-block-buttons {
      margin-top: 60px;

      .button { margin: 0 15px; }
    }
  }

  .with-image span { margin: 0 30px; }

  .overlay-banner {
    p { margin-bottom: 30px; }
    .wp-block-columns p { margin-bottom: 0; }
  }

  .max-700 { max-width: 700; }
}

@media (min-width: $xl) {
  .container { min-width: 100px; }

  .title {
    font-size: 60px;
    line-height: 68px;
    margin-bottom: 60px;

    &.limited {
      max-width: 980px;
    }
  }

  .std-font {
    font-size: 24px;
    line-height: 29px;
  }

  .subtitle {
    font-size: 36px !important;
    line-height: 44px !important;
    margin: 60px 0;
  }

  .with-image span { margin: 0 40px; }

  .banner {
    min-height: 737px;

    .with-image {
      img { max-height: 96px; }
      span { height: 110px; }

      h1 {
        line-height: 96px;
        margin-top: 2px;
      }
    }

    .headline {
      margin: 0 auto;
      margin-top: 60px;
    }
  }
}
