/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

$w: #fff;
$g: #00a96e;
$lg: #e0f1f3;
$t: #00374c;
$gr:#f7f7f7;
$dgr: #8e8e8e;

$fff: proxima-nova, sans-serif;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

// screen sizes
$xxs: 419px;
$mobile: 600px;
$tablet: 768px;
$desktop: 992px;
$large: 1200px;
$xl: 1441px;
