.uni-case-studies {
  text-align: center;

  .wrap { padding-bottom: 0; }
  .container { padding: 0 30px; }

  .title { margin-bottom: 65px; }

  .frame {
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
  }

  .inner { position: relative; }

  .link-overlay {
    top: auto;
    bottom: 20px;
    height: auto;
    z-index: 10;
  }

  .cs-logo {
    display: block;
    width: 65%;
    max-width: 580px;
    margin: 0 auto 22px;
  }
}

.cs-wrapper {
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.5);
}

.case-studies-slider { position: relative; }

.single .uni-case-studies {
  .wrap { background: $gr; }
  .cs-wrapper { border: none; }
}

.case-study .wp-block-buttons { margin-top: 60px; }

@media (min-width: $tablet) {
  .uni-case-studies {
    .cs-logo {
      max-width: 580px;
      margin: 0 auto;
    }

    .link-overlay {
      bottom: 50px;
    }
  }

  .cs-wrapper {
    padding-bottom: 118px;
  }
}
