.site-footer {
  .wrap {
    background: $gr;
    padding-top: 30px;
  }

  .container {
    padding: 0 30px;
  }

  .logo {
    width: 90px;
    display: block;
    margin: 0 0 30px;
  }
}

.sub-footer {
  background: $t;

  .row {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  p {
    color: rgba(255, 255, 255, 1);
    margin: 0 0 30px;
    font-size: 12px;
    line-height: 14px;
  }

  .nav,
  .no-margin { opacity: 0.5; }

  a { color: $w; }

  span {
    display: block;
    margin: 14px 0;
  }

  .nav {
    margin-bottom: 14px;
  }

  .menu-item {
    font-size: 12px;
    line-height: 14px;
    margin: 0 8px 8px 0;
  }
}

.quick-sidebar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9950;

  .inner {
    width: 280px;
    display: none;
    background: $w;
    border-radius: 9px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 15px 15px 30px;
    text-align: center;
    position: absolute;
    bottom: 36px;
    right: 15px;
    z-index: 9;

    p {
      @extend .std-font;

      color: $t;
      margin: 0 0 9px;
      font-size: 0.85em;
    }

    img {
      width: 70%;
      max-width: 250px;
      display: block;
      margin-bottom: 20px;
    }
  }

  .qs-wdgt {
    @extend .std-font;

    margin-top: 20px;
  }

  .quick-sidebar-tab {
    text-align: right;
    width: 54px;
    margin: 0 0 0 auto;
    position: relative;
    z-index: 10;

    span {
      display: block;
      background: $t;
      color: $w;
      width: 57px;
      height: 57px;
      border-radius: 50%;
      cursor: pointer;
      text-align: center;
      font-size: 28px;
      padding-top: 13px;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      margin-bottom: 10px;
      display: block;
    }
  }

  .menu-item a {
    color: $t;
    background: $lg;
    display: block;
    padding: 12px 0;
    font-size: 0.85em;
  }

  .menu-item-has-children > a::after {
    margin-left: 8px;
  }

  .sub-menu {
    display: none;
    margin-left: 20px;
  }

  .closey {
    text-align: right;
    cursor: pointer;
  }
}

.footer-widgets {
  h3 {
    font-size: 12px;
    line-height: 15px;
    font-weight: 800;
    color: $t;
    margin-bottom: 10px;
    cursor: pointer;
  }

  ul {
    padding: 0;
    margin-bottom: 25px;
    list-style: none;
  }

  .menu-item a {
    display: block;
    font-size: 12px;
    line-height: 14px;
    padding: 5px 0;
  }

  .sub-menu {
    display: none;
  }

  .submenu-toggle {
    position: relative;
    display: inline-block;
    top: 0;
    margin-left: 6px;
    font-size: 14px;
  }
}

.site-footer a:hover { text-decoration: none; }

.footer-widgets .sub-menu .menu-item a { color: $g; }

.quick-sidebar .sub-menu .menu-item {
  margin: 0;

  a {
    background: none;
    text-align: left;
  }
}

@media (max-width: $tablet - 1) {
  .footer-widgets .widget { min-width: calc(50% - 30px); }
}

@media (max-width: $xxs - 1) {
  .quick-sidebar {
    .inner { width: 220px; }
    img { max-width: 100%; }
  }
}

@media (min-width: $tablet) {
  .logo-col {
    max-width: 110px;
  }

  .footer-widgets {
    h3 {
      font-size: 18px;
      line-height: 23px;
      cursor: inherit;
    }

    .menu-item a {
      font-size: 16px;
      padding: 10px 0;
    }

    .submenu-toggle {
      font-size: 16px;
      margin-left: 12px;
    }
  }

  .sub-footer {
    .container {
      padding: 0;
    }

    p,
    .menu-item {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 0;
    }

    .menu-item { margin-bottom: 12px; }

    span {
      display: inline;
      margin: 0 8px;
    }

    .row {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  .quick-sidebar {
    bottom: 50px;
    right: 50px;

    .inner {
      width: 350px;
      padding: 20px 40px 60px;
    }
  }
}
