.contact-info {
  img {
    position: relative;
    top: 1px;
  }

  a {
    display: block;
    margin-bottom: 2px;
    text-decoration: none;
  }
}

.site-header {
  .logo-col { max-width: 90px; }

  .logo {
    width: 90px;
    display: block;
    max-width: none;
    margin: 0 0 25px;
  }

  .contact-info {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    font-size: 14px;

    p { margin: 0; }
  }

  .nav-col {
    padding: 0 15px;
  }

  .top-row { margin-top: 25px; }
}

.contact-col {
  display: none;
}

.header-search {
  float: right;
  margin-top: 2px;
}

.nav-frame {
  display: none;
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 85%;
  height: calc(100% - 86px);
  background: $w;
  z-index: 99;
  box-shadow: 0 0 8px 2px $t;
}

.nav-toggle {
  padding: 5px;
  width: 42px;
  height: 42px;
  display: block;
  cursor: pointer;
  margin: 0 0 0 auto;

  .menu-icon {
    display: block;
    background: $g;
    height: 3px;
    width: 31px;
    position: relative;
    margin: 20px 0 0;
    transition: background 0.2s linear 0.5s;

    &::before,
    &::after {
      content: "";
      left: 0;
      position: absolute;
      width: 31px;
      height: 3px;
      background: $g;
      display: block;
      transition: all 0.5s linear;
    }

    &::before { top: -10px; }
    &::after { bottom: -10px; }
  }
}

.menu-active {
  .nav-frame {
    display: block;
  }

  .menu-main-container {
    height: 100%;
    overflow-y: auto;
  }

  .nav-toggle .menu-icon {
    background: #fff;
    transition: background 0.2s linear;

    &::before {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
}

@media (min-width: $tablet) {
  .site-header {
    .container-fluid { position: relative; }

    .search-form,
    .contact-info {
      width: 168px;
      text-align: left;
    }
  }

  .nav-toggle .menu-icon { margin-top: 15px; }

  .contact-col {
    display: block;
    min-width: 336px;
    max-width: 342px;
  }

  .header-search { margin-top: 9px; }
}

@media (min-width: $desktop) {
  .nav-toggle { display: none; }

  .nav-frame {
    display: block;
    position: relative;
    bottom: auto;
    box-shadow: none;
  }
}

@media (min-width: $large) {
  .site-header {
    .contact-info {
      width: calc(100% - 222px);
      margin: 15px 0 0 auto;

      a {
        display: inline-block;
        vertical-align: top;

        &:not(:first-child) { margin-left: 28px; }
      }
    }

    .container-fluid { max-width: 1470px; }
    .search-form { width: 192px; }
  }

  .contact-col { max-width: 568px; }
  .nav-frame { max-width: 560px; }
}
