.menu-item {
  @extend .nav-item;

  position: relative;
}

.submenu-toggle {
  display: block;
  padding: 5px;
  position: absolute;
  color: $g;
  font-size: 16px;
  right: 10px;
  top: 9px;
}

.nav-primary {
  .menu-item {
    padding: 5px 10px;

    a {
      display: block;
      font-size: 16px;
      color: $t;
      padding: 13px 0 28px;
      transition: all 0.5s ease-out;

      &:hover { color: $g; }
    }
  }

  .sub-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;

    .menu-item {
      text-align: left;

      a {
        font-size: 18px;
        line-height: 22px;
      }

      .menu-item a { color: $g; }
    }
  }
}

@media (max-width: $desktop - 1) {
  .nav-primary .nav {
    display: block;
    width: 85%;
    margin: 15% auto;
    max-width: 525px;
  }

  .admin-bar.menu-active .nav-frame { height: calc(100% - 132px); }
}

@media (min-width: $desktop) {
  .nav-primary {
    .menu-item { padding: 0; }
    .submenu-toggle { right: -3px; }

    .nav > {
      .current-menu-ancestor,
      .current-menu-item {
        > a {
          position: relative;

          &::before {
            content: "";
            display: block;
            width: 24px;
            height: 12px;
            background: $g;
            border-radius: 24px 24px 0 0;
            position: absolute;
            bottom: 0;
            left: 40%;
            left: calc(50% - 12px);
          }
        }
      }
    }

    .sub-menu {
      display: block;
      height: 0;
      overflow: hidden;
      position: absolute;
      padding: 0;
      width: 220px;
      background: $w;
      box-shadow: 0 5px 6px $dgr;
      transition: height 0.3s ease-out, padding 0.1s linear 0.275s;

      .menu-item {
        a {
          padding: 10px 30px;
          position: relative;
          z-index: 2;
        }

        .submenu-toggle {
          right: 30px;
          z-index: 0;
        }
      }

      .sub-menu {
        width: 0;
        left: 100%;
        top: -20px;
        padding: 20px 0;
        background: $w;
        height: 208px;
        transition: width 0.3s ease-out, padding 0.1s linear 0.275s;
      }
    }

    .menu-item-236 .sub-menu { width: 318px; }

    .sub-menu:hover { overflow: visible; }

    .sub-menu:hover,
    .sub-menu-open > .sub-menu {
      padding: 20px 0;
      height: 208px;
      transition: height 0.3s ease-in;
    }
  }

  .nav-frame {
    a:hover + .sub-menu {
      padding: 20px 0;
      height: 208px;
      transition: height 0.3s ease-in;
    }

    .sub-menu .sub-menu:hover {
      width: 100%;
      transition: width 0.3s ease-in;
    }

    .menu-item-236 {
      > .sub-menu:hover,
      &.sub-menu-open > .sub-menu {
        height: 205px;
      }
    }

    .menu-item-297 {
      > .sub-menu:hover,
      &.sub-menu-open > .sub-menu {
        height: 166px;
        width: 231px;
      }
    }

    .menu-item-698 {
      .sub-menu:hover,
      &.sub-menu-open > .sub-menu {
        height: 124px;
      }
    }

    .menu-item-151 .menu-item .sub-menu { height: 250px; }

    .menu-item-236 > a:hover + .sub-menu { height: 205px; }

    .menu-item-297 > a:hover + .sub-menu {
      height: 166px;
      width: 231px;
    }

    .menu-item-698 > a:hover + .sub-menu { height: 124px; }

    .sub-menu a:hover + .sub-menu {
      width: 100%;
      transition: width 0.3s ease-in;
    }

    .menu-item-297 .menu-item .sub-menu:hover { width: 252px; }
    .menu-item-151 .menu-item .sub-menu:hover { width: 310px; }
    .menu-item-297 .menu-item a:hover + .sub-menu { width: 252px; }
    .menu-item-151 .menu-item a:hover + .sub-menu { width: 310px; }
  }
}
