.has-text-align-center {
  text-align: center !important;
}

// .menu-item-236 > a:hover + .sub-menu {
//   height: 205px !important;
// }

.nav-frame .menu-item-236.sub-menu-open > .sub-menu {
  height: 205px !important;
}

// .nav-frame .menu-item-236 > .sub-menu :hover {
//   height: 205px !important;
// }

.with-image img {
  vertical-align: middle !important;
}

.slide-2 .servicenow-logo img {
  display: none;
}

@media only screen and (max-width: 992px) {
  .nav-frame .menu-item-236.sub-menu-open > .sub-menu {
    height: 275px !important;
  }
}

#uni-logo-slider .wrap {
  background: #fff !important;
}

.headline {
  text-align: center;

  .title-logo {
    float: left;
    width: 168px;
  }

  h4 {
    float: right;
    border-left: 3px #fff solid;
  }

  & ::after {
    content: " ";
    display: table;
    clear: both;
  }
}

.button a {
  color: #fff;

  &:hover {
    text-decoration: none;
  }
}

// .content {
//   margin-bottom: 20px;
// }

.sub-services-solutions h1 {
  line-height: 25px !important;
  margin-top: 2px !important;
}

.single-un48_solutions-certified-servicenow-partner-data {
  .size-large a img {
    border-radius: 50%;
  }
}

.sub-text-home {
  font-size: 24px !important;
}

.service-block p {
  font-size: 20px;
  line-height: 22px;
}

.content .buttons .button {
  margin: 15px 15px 1px 15px;
}

.services-solutions h1 {
  line-height: 1px !important;
}

.archive-un48_services-data .banner-wrap .buttons {
  display: none !important;
}

.post-type-archive-un48_solutions .banner-wrap .wp-block-buttons {
  display: none !important;
}

.post-type-archive-un48_solutions .banner-wrap .sub-services-solutions {
  .title-logo {
    display: none !important;
  }

  span {
    display: none !important;
  }
}
