.uni-latest-news {
  .wrap {
    text-align: center;
  }

  .title { margin-bottom: 60px; }

  .frame {
    margin: 0 auto;
    max-width: 1100px;
  }

  .uni-nav { top: 74px; }
}

.single-post .background-image { background-position: left center; }

.latest-news-slider {
  margin: 0 15px;
  position: relative;
}

.news-item {
  max-width: 353px;
  margin-right: 20px;
  text-align: left;

  .wp-post-image {
    display: block;
    margin-bottom: 20px;
  }

  h5 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    margin: 0;
  }

  a {
    font-weight: 700;
    font-size: 18px;
    color: $g;
  }

  .image { position: relative; }

  .image::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background: transparent;
    opacity: 0;
    transition: background 0.6s linear, opacity 0.5s ease-in, z-index 0.1s linear 0.6s;
  }

  &:hover .image::after {
    opacity: 1;
    z-index: 5;
    background: rgba(0, 55, 76, 0.5);
    transition: background 0.6s linear, opacity 0.5s ease-in;
  }
}

.unifii-index {
  margin-bottom: 60px;

  .inner {
    position: relative;
    margin: 0 5px;
    z-index: 4;
  }

  .entry {
    margin: 0 10px;
    padding: 20px 0;
  }

  h3 {
    font-size: 24px;
    line-height: 1em;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
  }

  time {
    font-size: 16px;
    color: $g;
    line-height: 19px;
    font-weight: 800;
  }

  .button {
    padding: 10px 48px;
  }

  .overlay {
    z-index: -1;
    opacity: 0;
    text-align: center;
    background: transparent;
    transition: background 0.6s linear, opacity 0.5s ease-out, z-index 0.1s linear 0.65s;
  }

  &:hover .overlay {
    opacity: 1;
    z-index: 5;
    background: rgba(0, 55, 76, 0.5);
    transition: background 0.6s linear, opacity 0.5s ease-in;
  }
}

.entry-content {
  p,
  ul,
  ol,
  blockquote {
    @extend .std-font;

    margin-bottom: 1em;

    &.green { color: $g; }

    &.small {
      font-size: 15px;
      line-height: 1.125em;
    }
  }

  hr.wp-block-separator {
    margin: 60px 0;
    position: relative;
  }

  ul:not(.nav):not(.blocks-gallery-grid):not(.no-styles) {
    padding: 0;
    list-style: none;
    text-align: left;
    margin: 0 auto 60px;
    display: inline-block;

    li {
      margin-bottom: 1em;
      position: relative;
      padding: 0 0 0 16px;

      &:last-child { margin: 0; }

      &::before {
        @extend .icon;

        content: "\f111";
        font-size: 6px;
        display: block;
        position: absolute;
        top: 13px;
        left: 0;
      }
    }

    + hr.wp-block-separator { margin-top: 0; }
  }

  h5 {
    font-weight: 700;
    text-align: center;
    margin: 1.5em 0 2em;
  }

  h3:not(.title) {
    font-size: 24px;
    line-height: 32px;
  }

  .wp-block-buttons { margin-top: 60px; }

  .entry-meta {
    margin: 0 0 30px;

    p {
      margin: 0 0 0 15px;
      font-size: 0.85em;
    }

    .icon-col {
      max-width: 60px;
      display: block;

      img { border-radius: 50%; }
    }

    .desc-col { margin-top: 8px; }
  }
}

.unifii-post {
  @extend .std-font;

  padding-bottom: 0;

  .entry-content {
    text-align: left;
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.5);
  }

  time { color: $g; }

  a { color: $g; }

  .wp-block-image {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}

@media (min-width: $tablet) {
  .uni-latest-news .uni-nav { top: calc(50% - 17px); }

  .news-item {
    margin-bottom: 48px;
  }

  .entry-content {
    p,
    ul,
    ul {
      &.small { font-size: 16px; }
    }
    hr.wp-block-separator { margin: 120px 0; }
    ul + hr.wp-block-separator { margin-top: 60px; }

    .entry-meta {
      margin: 0 0 30px;

      p {
        margin: 0 0 0 30px;
        font-size: 1em;
      }

      .desc-col { margin-top: 4px; }
    }

    h3:not(.title) {
      font-size: 26px;
      line-height: 32px;
    }
  }
}

@media (min-width: $desktop) {
  .entry-content {
    h3:not(.title) {
      font-size: 30px;
      line-height: 38px;
    }
  }
}

@media (min-width: $large) {
  .entry-content {
    p,
    ul,
    ul {
      &.small { font-size: 18px; }
    }

    h3:not(.title) {
      font-size: 36px;
      line-height: 44px;
    }
  }
}
