.uni-solutions .subtitle { text-align: center; }

.solution-block {
  padding: 0 10px;
  margin-bottom: 10px;
  text-align: center;

  .inner {
    position: relative;
  }

  .image {
    height: 151px;

    img {
      @extend .blur-image;

      display: block;
      width: auto;
      height: auto;
      max-width: 200px;
      max-height: 70px;
      margin: 0 auto;
    }
  }

  .overlay {
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 0.6s ease-in;
  }

  .wrapper {
    margin: 30px auto;
    width: 85%;
    max-width: 380px;
  }

  p {
    font-size: 14px;
    line-height: 17px;
    color: $w;
  }

  .link {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 0;
    width: 100%;
  }

  &:hover {
    .overlay { opacity: 1; }
  }

  &.solution-1 .inner { background: #81b5a1; }
  &.solution-2 .inner { background: #4bc3c9; }
  &.solution-4 .inner { background: #38245d; }

  &.solution-3 {
    img { margin-bottom: 28px; }
    .inner { background: rgba(15, 64, 118, 0.75); }
  }
}

.elite-partner {
  &::after {
    content: "";
    display: block;
    width: 128px;
    height: 128px;
    background-image: url(../images/Partner_Badge_Elite.png);
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 12px;
  }
}

@media only screen and (max-width: 757px) {
  .elite-partner {
    &::after {
      margin: 48px auto;
    }
  }
}

article.solution {
  h2 { max-width: 980px; }

  ul { margin-bottom: 40px; }

  .wp-block-columns {
    margin-bottom: 0;
  }

  .alt .title {
    margin: 0 auto 50px;
    max-width: 785px;
  }

  .subtitle {
    margin-bottom: 40px;
  }

  .wp-block-media-text .subtitle { margin: 0; }
}

.subpage article.solution {
  h2 {
    max-width: 995px;
    margin-bottom: 70px;
  }

  .limited { max-width: 775px; }
}

.nvslr-reviews {
  position: relative;
  width: 100%;
  max-width: 253px;
  min-height: 1px;
  display: block;
  margin: 0 auto 120px;

  .rail {
    max-width: none;
    padding: 0;
  }

  .uni-cr-col {
    width: 100%;
    max-width: 353px;
  }

  .card__text {
    padding: 1.5rem 1.75rem;
    color: $g;
    text-align: left;

    .label {
      text-transform: uppercase;
      line-height: 1.125rem;
      display: block;
      position: relative;
      width: 105px;
      height: 1.5rem;
      -webkit-mask-image: url(../images/stars.svg);
      -webkit-mask-repeat: no-repeat;
      transition: all 250ms ease-out;
      color: $w;

      &.-review-score-93::before { width: 97px; }
      &.-review-score-95::before { width: 99px; }
      &.-review-score-97::before { width: 101px; }
      &.-review-score-99::before { width: 103px; }

      &::before {
        background-color: $g;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        -webkit-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
      }

      &:hover .card__text .label::before {
        background-color: $w;
      }
    }
  }

  .card__title {
    @extend .std-font;

    color: $t;
    margin: 0;
    font-weight: 500;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    overflow-y: hidden;
    display: block;
    height: auto;
  }

  .card__description {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 12px;
    font-weight: 800;
  }

  .link {
    @extend .std-font;

    color: $t;
    margin: 0;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    transition: 100ms color ease-out;
    text-decoration: none;
  }

  .card__link {
    text-decoration: none;
    background-color: $w;
    color: $t;
    display: block;
    margin: 0;

    &:hover {
      transition: all 250ms ease-out;
      background-color: $g;
      text-decoration: none;

      .link,
      .card__title,
      .card__description { color: $w; }
    }
  }
}

.certified-servicenow-partner {
  .image-columns-3 {
    margin-top: 30px;
  }

  .small-frame h3 { margin: 0; }
}

.servicenow-itom .entry-content .overlay-banner h3 {
  font-size: 54px;
}

.servicenow-links .image-columns-3 {
  .wp-block-column p {
    font-size: 24px;
    line-height: 30px;
    max-width: 140px;
  }

  .wide-txt p { max-width: 250px; }
}

.fuze {
  hr.wp-block-separator {
    &::before,
    &::after { content: none; }
  }
}

.talkdesk-contact-centre-software {
  .banner {
    .headline {
      max-width: 750px;
    }

    .title-logo {
      filter: brightness(0) invert(1);
    }
  }

  .td-features {
    .image-columns,
    .image-columns-3 {
      .wp-block-image {
        width: 50%;
        max-width: 150px;
        margin-bottom: 30px;
      }
    }

    .green {
      font-size: 24px;
      line-height: 29px;
      margin: 0 auto 1em;
      max-width: 210px;
    }

    ul:not(.nav):not(.blocks-gallery-grid):not(.no-styles) {
      text-align: center;
      font-size: 20px;
      line-height: 24px;

      li::before {
        display: inline-block;
        position: relative;
        margin-right: 6px;
        top: -4px;
      }
    }
  }

  .quick-button { top: 17px; }
}

.nuvolo {
  .banner {
    min-height: 623px;

    .headline {
      margin: 32px auto 0;
      width: 81%;
      min-width: 250px;
      max-width: 675px;
    }

    .title-logo {
      max-height: 128px;
      vertical-align: text-top;
    }
  }

  .entry-content {
    .green {
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 3px;
    }

    p + .green { margin-top: 60px; }
  }
}

.servicenow-itom article.solution h2 { max-width: 985px; }

.download-brochure + .wpcf7 {
  display: none;
}

.watch-video-link {
  position: relative;

  .video-screen {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;

    img {
      position: absolute;
      visibility: hidden;
    }
  }
}

@media (max-width: $tablet - 1) {
  .uni-solutions .row {
    margin: 0;
  }

  .solution-block .button {
    font-size: 12px;
    line-height: 16px;
    padding: 5px 13px;
    border-radius: 6px;
  }
}

@media (max-width: $xxs - 1) {
  .talkdesk-contact-centre-software,
  .nuvolo,
  .fuze,
  .certified-servicenow-partner {
    .banner .headline {
      font-size: 30px;
      line-height: 34px;
    }
  }
}

@media (min-width: $mobile) {
  .nvslr-reviews { max-width: 1059px; }
}

@media (min-width: $tablet) {
  .elite-partner {
    line-height: 178px !important;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: top;
      width: 178px;
      height: 178px;
      margin-right: 24px;
      background-image: url(../images/Partner_Badge_Elite.png);
      background-size: 100% auto;
      background-position: center center;
      background-repeat: no-repeat;
    }

    &::after { content: none; }
  }

  .solution-block {
    margin-bottom: 20px;

    .image {
      height: 260px;

      img {
        max-width: 353px;
        max-height: 120px;
        margin: 0 auto 40px;
      }
    }

    .wrapper {
      margin: 44px auto;
    }

    p {
      font-size: 22px;
      line-height: 29px;
    }
  }

  article.solution .wp-block-columns + .small {
    margin-top: 30px;
  }

  .certified-servicenow-partner {
    .image-columns-3 {
      margin-top: 60px;
    }

    .wp-block-uni-overlay-block .wp-block-column {
      margin-bottom: 0;

      p { margin-bottom: 0; }
    }

    article.solution .limited-width { max-width: 750px; }
  }

  .fuze {
    .banner .title-logo { margin-top: 3px; }

    .wp-block-uni-overlay-block:last-child {
      .wp-block-media-text {
        -ms-grid-columns: 1fr 40%;
        grid-template-columns: 1fr 40%;

        figure img { width: 112.5%; }
      }

      .wp-block-group__inner-container {
        width: 90%;
        max-width: 1400px;
      }
    }
  }

  .nuvolo {
    .banner {
      .company-logo,
      .with-image span { margin-top: 88px; }

      .title-logo {
        width: auto;
        max-height: 150px;
      }
    }

    .entry-content {
      .green {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 30px;
      }
    }
  }

  .talkdesk-contact-centre-software {
    .banner .headline { margin-top: 40px; }

    .td-features {
      .image-columns,
      .image-columns-3 {
        .wp-block-image {
          min-height: 176px;
        }
      }
    }

    article.solution .limited-width { max-width: 780px; }
  }
}

@media (min-width: $desktop) {
  .nuvolo .banner {
    .company-logo,
    .with-image span { margin-top: 105px; }

    .title-logo {
      max-height: 180px;
    }
  }

  article.solution .wp-block-columns + .small {
    margin-top: 60px;
  }

  .wp-block-uni-overlay-block:last-child .wp-block-media-text figure img { width: 125%; }
}

@media (min-width: $large) {
  .talkdesk-contact-centre-software {
    .td-features {
      .green {
        font-size: 36px !important;
        line-height: 42px !important;
        margin-bottom: 1em;
      }

      ul:not(.nav):not(.blocks-gallery-grid):not(.no-styles) {
        font-size: 24px;
        line-height: 29px;
      }
    }
  }

  .servicenow-links {
    .image-columns-3 {
      .wp-block-column p {
        font-size: 36px;
        line-height: 42px;
        max-width: 210px;
      }

      .wide-txt p { max-width: 360px; }
    }
  }

  .certified-servicenow-partner .wp-block-uni-overlay-block .image-columns-3 .wp-block-column p { width: 70%; }

  .servicenow-links .wp-block-columns:last-child .wp-block-column:first-child p {
    width: 100%;
    font-size: 34px;
  }
}

@media (min-width: $xl) {
  .certified-servicenow-partner .banner .title-logo { max-width: 650px; }
  .talkdesk-contact-centre-software .banner .title-logo { margin-top: 5px; }

  .nuvolo .banner {
    .company-logo,
    .with-image span {
      margin-top: 100px;
    }

    .title-logo {
      max-height: 200px;
    }
  }

  .fuze .wp-block-uni-overlay-block:last-child .wp-block-group__inner-container { max-width: 1440px; }
}
