body#tinymce {
  margin: 12px !important;
}

.wp-block-uni-overlay-block {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}

h5 {
  font-weight: 700;
  text-align: center;
  margin: 1.5em 0 2em;
}

.wp-block {
  width: 85%;
  max-width: 980px;
}

