.wp-block-buttons {
  margin: 32px 0;
}

.wp-block-image,
.wp-block-column { margin-bottom: 30px; }

.wp-block-uni-info-list {
  @extend .col-md-4;

  h5 {
    color: $w;
    margin: 0 !important;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    padding: 44px 5px 49px;
    border-top: 7px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }

  ul {
    @extend .std-font;

    color: $t;
    display: none;
    position: relative;
    list-style-type: none;
    padding: 0 30px;
    text-align: left;

    li {
      padding: 30px 0;
      border-bottom: 1px solid #8d8d8d;

      &:last-child { border: none; }
    }
  }

  &.activated {
    h5 {
      color: $t;
      border-top-color: $g;
      background: #fff;
      cursor: auto;
      transition: all 0.3s ease-in;
    }
  }
}

.wp-block-uni-overlay-block {
  .wp-block-group__inner-container {
    @extend .container;
  }

  .wp-block-columns {
    margin-bottom: 0;

    .wp-block-column:last-child { margin-bottom: 0; }
  }

  .quick-button {
    top: -80px;
  }

  &.relpos { overflow: visible; }
}

.entry-content .wp-block-uni-overlay-block h5 {
  font-size: 24px;
  line-height: 1.125em;
  margin-bottom: 30px;
  font-weight: 400;
}

.wp-block-uni-info-table {
  text-align: left;
  padding-top: 0;

  .container { position: relative; }

  .wp-block-uni-info-list {
    ul {
      max-width: none;
      margin: 0;
      background: $w;
    }
  }
}

.wp-block-group {
  .wp-block-media-text ul {
    margin-bottom: 40px;

    li { margin-bottom: 20px; }
  }

  h2 {
    @extend .title;

    margin-bottom: 60px;
  }
}

.wp-block-uni-collapse-section {
  background: $gr;
  text-align: left;

  .nav-item {
    font-size: 36px;
    line-height: 44px;
    border-top: 7px solid $gr;

    h5 {
      padding: 40px 60px;
      display: block;
      cursor: pointer;
      text-align: left;
    }

    &.active {
      background: $w;
      border-top-color: $g;
    }
  }

  .wp-block-uni-collapse-list {
    background: $w;
    display: none;
    padding: 60px;
  }

  .collapse-open { display: block; }

  .card {
    @extend .std-font;

    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #8d8d8d;

    &:last-child { border: 0; }
  }

  .card-header {
    background: $w;
    border: 0;
    padding: 30px 30px 30px 0;
    cursor: pointer;

    &::after {
      @extend .icon;

      content: "\f054";
      position: absolute;
      top: 32px;
      right: 0;
      width: 22px;
      height: 22px;
      font-size: 12px;
      padding-top: 4px;
      border-radius: 50%;
      color: $t;
      text-align: center;
      cursor: pointer;
      z-index: 99;
      border: 1px solid $w;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      transition: all 0.6s ease-in;
    }

    &.collapse-block-open::after { content: "\f078"; }
  }

  .card-body {
    padding: 0 30px 30px 0;
    color: $g;
    display: none;
  }

  .link-box {
    margin-top: 60px;
    text-align: center;
    line-height: 27px;
  }

  .button {
    display: block;
    margin: 1em auto;
    max-width: 200px;
    padding: 8px 20px 7px;
  }
}

.entry-content {
  .collapse-open { display: block; }

  > .wp-block-group {
    @extend .wrap;

    > .wp-block-group__inner-container {
      @extend .container;

      padding: 0 30px;
    }
  }
}

.wp-block-uni-js-counter {
  span {
    font-size: 120px;
    line-height: 135px;
  }

  p.counter-label {
    font-size: 20px;
    line-height: 24px;
    max-width: 175px;
    margin: 0 auto;
  }
}

.wp-block-uni-logo-slider {
  .wrap {
    background: $gr;
    padding: 60px 0;
  }

  .container { padding: 0; }

  .row {
    @extend .no-gutters;
  }

  .rail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-grow: 1;
    flex-grow: 1;
  }

  .logo-description {
    p {
      @extend .std-font;

      margin: 0 0 30px;
    }
  }
}

.logo-slider-item {
  width: 100%;
  max-width: 210px;

  figure {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    width: 100%;
  }

  img {
    width: auto;
    height: auto;
    display: block;
    max-width: 170px;
    max-height: 75px;
    margin: 0 auto;
  }
}

.wp-block-media-text {
  text-align: left;
  margin: 60px 0;

  .wp-block-media-text__media img {
    display: block;
    max-width: 550px;
    margin: 0 auto 30px;
    width: 82.5%;
  }

  .wp-block-media-text__content .wp-block-buttons { margin: 0; }
}

.wp-block-uni-uni-slider {
  @extend .wrap;

  position: relative;
  background: #fff !important;

  .image-slider-rail {
    @extend .row;
    @extend .no-gutters;
  }

  .wp-block-image {
    @extend .col;

    margin: 0;

    img {
      margin: 0 auto;
      display: block;
    }
  }

  .uni-nav { background: #fff; }
  .uni-left-nav { left: -15px; }
  .uni-right-nav { right: -15px; }
}

.restricted-width {
  border-top: 1px solid $dgr;
  padding: 60px 0 11px;
  position: relative;
  margin-top: 60px;

  &::before {
    @extend .icon;

    top: -15px;
    left: 45%;
    left: calc((100% - 35px) / 2);
    position: absolute;
    color: $t;
    padding-top: 9px;
    content: "\f078";
    display: block;
    width: 35px;
    height: 35px;
    margin: 0 auto;
    font-size: 18px;
    background: $w;
    border-radius: 50%;
    box-shadow: 0 0 5px #bdbdbd;
  }

  .wp-block-group .wp-block-group__inner-container {
    max-width: none;
    padding: 0;
  }

  .title {
    max-width: 975px;
    margin: 0 auto 75px;
  }

  .subtitle {
    max-width: 925px;
    margin: 0 auto !important;
  }
}

@media (max-width: $desktop - 1) {
  .single-post .banner { min-height: 486px; }
}

@media (max-width: $tablet - 1) {
  .single-post .banner { min-height: 374px; }
}

@media (max-width: $mobile - 1) {
  .wp-block-uni-logo-slider {
    .logo-description { min-width: 100%; }

    .frame {
      margin: 0 auto;
      width: 210px;
    }
  }

  .single-post .banner { min-height: 268px; }
}

@media (max-width: $xxs - 1) {
  .wp-block-media-text.small-frame {
    -ms-grid-columns: 100% 1fr;
    grid-template-columns: 100% 1fr;

    &.has-media-on-the-right {
      -ms-grid-columns: 1fr 100%;
      grid-template-columns: 1fr 100%;
    }

    .wp-block-media-text__content {
      padding: 0;
      -ms-grid-column: 1;
      grid-column: 1;
      -ms-grid-row: 2;
      grid-row: 2;
    }
  }
}

@media (min-width: $xxs) {
  .wp-block-media-text {
    &.small-frame {
      max-width: 420px;
      margin-left: auto;
      margin-right: auto;
      -ms-grid-columns: 140px 1fr;
      grid-template-columns: 140px 1fr;

      &.has-media-on-the-right {
        -ms-grid-columns: 1fr 140px;
        grid-template-columns: 1fr 140px;
      }

      .wp-block-media-text__content { padding: 0 0 0 20px; }
    }
  }
}

@media (min-width: $tablet) {
  .wp-block-media-text {
    .wp-block-media-text__content { padding: 0 0 0 10%; }
    &.has-media-on-the-right .wp-block-media-text__content { padding: 0 10% 0 0; }

    .wp-block-media-text__media img {
      width: 100%;
      margin: 0;
    }

    &.emphasize-text {
      -ms-grid-columns: 450px 1fr;
      grid-template-columns: 450px 1fr;

      &.has-media-on-the-right {
        -ms-grid-columns: 1fr 450px;
        grid-template-columns: 1fr 450px;
      }
    }

    &.shrink-media {
      -ms-grid-columns: 25% 1fr;
      grid-template-columns: 25% 1fr;

      &.has-media-on-the-right {
        -ms-grid-columns: 1fr 25%;
        grid-template-columns: 1fr 25%;
      }
    }

    &.small-frame {
      .wp-block-media-text__content { padding: 0 0 0 30px; }
    }
  }

  .wp-block-columns { margin: 60px 0; }

  .wp-block-column {
    flex-basis: calc(50% - 8px);

    &:not(:first-child) { margin-left: 16px; }
  }

  .wp-block-uni-info-list {
    ul {
      width: 300%;
      width: calc(300% + 60px);
      padding: 0 60px;

      li { padding: 60px 0; }
    }

    &:nth-child(2) ul {
      left: -100%;
      left: calc(-100% - 30px);
    }

    &:nth-child(3) ul {
      left: -200%;
      left: calc(-200% - 60px);
    }

    &:nth-child(4) ul {
      left: -300%;
      left: calc(-300% - 90px);
    }
  }

  .wp-block-uni-info-table {
    padding-top: 60px;
  }

  .wp-block-uni-logo-slider {
    .wrap { padding: 120px 0; }
    .col { max-width: calc(100% - 310px); }

    .logo-description {
      max-width: 310px;

      p { margin: 0; }
    }
  }

  .restricted-width {
    margin-top: 120px;
    padding-top: 120px;
  }

  .wp-block-uni-overlay-block .quick-button {
    top: -235px;
  }
}

@media (min-width: $desktop) {
  .wp-block-button {
    margin: 60px 0;
  }

  .wp-block-image { margin-bottom: 60px; }

  .wp-block-media-text {
    .wp-block-media-text__content { padding: 0 0 0 90px; }
    &.has-media-on-the-right .wp-block-media-text__content { padding: 0 90px 0 0; }
  }

  .entry-content .wp-block-uni-overlay-block h5 {
    font-size: 36px;
    margin-bottom: 1em;
  }
}
