.page-header .container > .title {
  @extend .wrap;

  text-align: center;
}

.image-columns {
  margin-bottom: 60px;

  .wp-block-image {
    width: 74%;
    max-width: 225px;
    margin: 0 auto 30px;
  }

  p {
    max-width: 200px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 19px;
  }

  h3 {
    margin-bottom: 0.33em;
  }
}

.image-columns-3 .wp-block-column {
  margin-bottom: 60px;

  .wp-block-image {
    display: block;
    width: 70%;
    max-width: 225px;
    margin: 0 auto 30px;
  }

  p {
    max-width: 200px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 19px;
  }
}

.home {
  .wp-block-group {
    .wp-block-group__inner-container {
      @extend .container;
    }

    h2 {
      @extend .title;

      max-width: 980px;
    }

    p:not(.counter-label),
    ul {
      margin-bottom: 30px;
    }

    .wp-block-image { margin-bottom: 61px; }

    .image-columns p {
      margin-bottom: 30px;
      max-width: 250px;
      text-align: left;
    }
  }

  .entry-content .image-columns + .wp-block-buttons { margin-bottom: 0; }
}

.un48-in-touch {
  .wrap {
    padding-bottom: 166px;
  }
}

.page.privacy-policy .entry-content {
  text-align: left;

  ol,
  ul {
    display: block;
  }

  h3 { margin-top: 60px; }
  h4 { margin-top: 30px; }

  h5 {
    font-weight: 500;
    text-align: left;
    margin: 15px 0;
  }
}

.page.contact-us {
  .banner .title { max-width: 520px; }

  .entry-content {
    text-align: left;

    a { color: $g; }

    .contact-page-form {
      p { margin-bottom: 1.2em; }
      a { color: $t; }
      .fa { color: $g; }

      strong {
        display: block;
        color: $t;
      }

      h5 {
        @extend .std-font;

        margin: 0 0 1.2em;
        text-align: left;
      }
    }

    .contact-maps {
      strong {
        @extend .std-font;

        color: $t;
      }

      p {
        font-size: 16px;
        line-height: 22px;
        color: $g;
      }
    }
  }
}

.page.careers .banner .title {
  max-width: 500px;
}

iframe.map-frame {
  border: 0;
  width: 100%;
  height: 289px;
  margin-bottom: 20px;
}

@media (max-width: $tablet - 1) {
  .wp-block-media-text.is-stacked-on-mobile {
    -ms-grid-columns: 100% !important;
    grid-template-columns: 100% !important;

    .wp-block-media-text__content,
    &.has-media-on-the-right .wp-block-media-text__content {
      -ms-grid-column: 1;
      grid-column: 1;
      -ms-grid-row: 2;
      grid-row: 2;
    }

    &.has-media-on-the-right .wp-block-media-text__media {
      -ms-grid-column: 1;
      grid-column: 1;
      -ms-grid-row: 1;
      grid-row: 1;
    }
  }
}

@media (min-width: $tablet) {
  .home .wp-block-group {
    p,
    ul {
      margin-bottom: 40px;
    }

    p.subtitle { margin: 60px 0 30px; }
  }

  .image-columns-3 .wp-block-column {
    margin-bottom: 0;

    .wp-block-image { max-width: 288px; }

    p {
      width: 82.5%;
      max-width: none;
      font-size: 20px;
      line-height: 22px;
    }
  }

  .image-columns {
    &.full-size-text {
      width: 110%;
      left: -5%;
      position: relative;
    }

    .wp-block-column {
      .wp-block-image {
        max-width: 250px;
      }

      p {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 71px;
      }
    }

    .wp-block-column:nth-child(2),
    .wp-block-column:nth-child(3) {
      h3 {
        min-height: 64px;
        min-height: calc(76px + 0.35em);
        padding-top: 22px;
      }
    }
  }

  .page.contact-us {
    .banner .title { max-width: 650px; }

    .entry-content {
      .contact-maps {
        .wp-block-columns { margin: 0; }

        .wp-block-column {
          flex-basis: calc(50% - 10px);

          &:not(:first-child) { margin-left: 20px; }
        }
      }

      .contact-page-form {
        h5:not(:first-child) { margin-top: 96px; }
      }
    }
  }

  .page.careers .banner .title {
    max-width: 580px;
  }
}

@media (min-width: $desktop) {
  .page.contact-us {
    .banner .title { max-width: 700px; }
  }

  .page.careers .banner .title {
    max-width: 770px;
  }

  .image-columns .wp-block-column {
    .wp-block-image { margin: 0 auto 61px; }
  }
}

@media (min-width: $xl) {
  .page.contact-us {
    .banner .title {
      font-size: 52px;
      line-height: 56px;
    }
  }

  .image-columns {
    width: 110%;
    position: relative;
    left: -5%;

    .wp-block-column .wp-block-image {
      width: 100%;
      max-width: 250px;
    }
  }

  .image-columns-3 .wp-block-column .wp-block-image {
    width: 100%;
    max-width: 288px;
  }

  .page .banner .title:only-child { max-width: 990px; }
}
