.uni-services {
  > .wrap {
    background: $gr;
    padding-bottom: 0;
  }

  .container-fluid { padding: 0; }
  .title { margin-bottom: 47px; }
  .subtitle { text-align: center; }

  p {
    margin-bottom: 30px;
    font-size: 21px;
    line-height: 27px;
    text-align: center;
  }
}

.service-block {
  text-align: center;
  padding-bottom: 70px;
  margin-bottom: 60px;

  p {
    @extend .std-font;

    margin-bottom: 38px;
  }

  h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 30px;
  }

  .uni-service-image {
    width: 65%;
    max-width: 400px;
    display: block;
    height: auto;
    margin: 0 auto 30px;
  }

  .link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.servicenow-managed-services .service {
  .subtitle { margin-bottom: 0; }

  .wp-block-group h2 {
    max-width: 620px;
  }

  .wp-block-uni-overlay-block { overflow: visible; }
}

.servicenow-health-check .service h3.title {
  max-width: 965px;
}

@media (max-width: $tablet - 1) {
  .service-block {
    .title {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 30px;
    }

    .entry { margin: 0 15px; }
  }
}

@media (min-width: $tablet) {
  .uni-services {
    .wrap { padding-bottom: 60px; }
    .title { margin-bottom: 51px; }
  }

  .service-block {
    .uni-service-image {
      width: 70%;
      max-width: 250px;
    }
  }
}

@media (min-width: $desktop) {
  article.service {
    .image-columns .wp-block-image { margin-bottom: 40px; }
    .image-columns-3 .wp-block-image { margin-bottom: 60px; }
    .title.limited { max-width: 620px; }
    .wp-block-uni-overlay-block h3 { max-width: none; }
  }
  .service-block .service-wrap { padding: 0 20px; }

  .service-block .service-wrap .entry {
    font-size: 20px;
    line-height: 22px;
  }

  .servicenow-strategy {
    .image-columns,
    .image-columns-3 {
      p { max-width: 270px; }
    }
  }

  .servicenow-managed-services .service {
    .subtitle { margin-top: 90px; }
  }
}

@media (min-width: $large) {
  .servicenow-managed-services .service .wp-block-group h2 {
    max-width: 1020px;
  }

  .uni-services .uni-service-image { width: 100%; }
}
