.slider {
  position: relative;
  z-index: 5;

  .bg-image {
    height: 697px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .slide-content {
    text-align: center;
  }

  h2 {
    color: $w;
    font-size: 44px;
    line-height: 46px;
    margin: 0;
  }

  .headline {
    color: $w;
    font-size: 24px;
    line-height: 1.125em;
    margin: 30px 0 0;
  }

  .slide-logo {
    width: 92.5%;
    display: block;
    margin: 0 auto 30px;

    &:only-child { margin-bottom: 0; }
  }

  .two-logos {
    text-align: center;

    .company-logo {
      width: 50%;
      max-width: 168px;
    }

    .slide-logo {
      max-width: 532px;
      margin-top: 20px;
    }

    + p {
      @extend .title;

      color: $w;
      line-height: 36px;
      margin: 30px auto 0;
    }
  }

  .servicenow-logo .slide-logo {
    max-width: 532px;
  }

  .slide .container {
    width: 82.5%;
  }

  .uni-nav {
    top: calc(50% - 17px);
    background: $w;
  }

  .uni-left-nav { left: 2.5%; }
  .uni-right-nav { right: 2.5%; }

  .wp-block-buttons {
    text-align: center;
    margin-bottom: 0;
    margin-top: 60px;

    .wp-block-button {
      margin: 0 20px 20px;

      &:last-child { margin-bottom: 0; }
    }

    a { @extend .button; }
  }
}

@media (max-width: $xxs) {
  .slider {
    .container { max-width: 262px; }

    .wp-block-buttons .wp-block-button {
      margin: 0 0 20px;

      &:last-child .wp-block-button__link { font-size: 16px; }
    }

    h2 {
      font-size: 36px;
      line-height: 35px;
    }
  }
}

@media screen and (min-width: $tablet) {
  .slider {
    .bg-image { height: 737px; }
    .next-button p { padding-bottom: 38px; }

    h2 {
      font-size: 54px;
      line-height: 54px;
    }

    .container { max-width: 620px; }

    .wp-block-buttons {
      margin-top: 60px;

      .wp-block-button {
        margin: 0 20px;
      }
    }

    .two-logos {
      margin-bottom: 30px;

      .company-logo,
      .slide-logo {
        width: 168px;
        display: inline-block;
        vertical-align: top;
      }

      .slide-logo {
        margin: 0;
        width: auto;
        max-width: calc(100% - 235px);
        max-height: 65px;
      }

      + p { line-height: 50px; }
    }

    .servicenow-logo .slide-logo {
      width: auto;
      max-height: 65px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .slider {
    .container { max-width: 700px; }

    .two-logos {
      .slide-logo { max-width: calc(100% - 245px); }
      + p { line-height: 60px; }
    }

    .headline {
      font-size: 36px;
    }
  }
}

@media screen and (min-width: $large) {
  .slider {
    .uni-left-nav { left: 15%; }
    .uni-right-nav { right: 15%; }
    .container { max-width: 850px; }
  }
}
