.button,
.wp-block-button__link {
  -webkit-appearance: none;
  display: inline-block;
  border: 1px solid $g;
  font-size: 22px;
  line-height: 27px;
  color: $w;
  background: $g;
  padding: 5px 29px 6px;
  border-radius: 9px;
  transition: background 0.6s ease-out;

  &:hover {
    background: $t;
    border-color: $t;
    text-decoration: none;
  }

  &.alt {
    border-color: $w;
    background: transparent;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 25px;
    transition: border-color 0.6s ease-in, background 0.6s ease-out, color 0.6s ease-in;

    &:hover {
      border-color: $g;
      background: $g;
      color: $w;
    }
  }

  &.inverse {
    background: $t;
    border-color: $t;

    &:hover { background: $g; }
  }
}

.uni-nav {
  position: absolute;
  top: 46%;
  top: calc(50% - 11px);
  width: 22px;
  height: 22px;
  padding-top: 1px;
  border-radius: 50%;
  color: $t;
  text-align: center;
  cursor: pointer;
  z-index: 99;
  font-size: 12px;
  border: 1px solid $w;
  background: $w;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  transition: all 0.6s ease-in;

  .fa { position: relative; }

  &:hover {
    color: $gr;
    border-color: $gr;
  }
}

.uni-left-nav {
  left: -11px;

  .fa { left: -1px; }
}

.uni-right-nav {
  right: -11px;

  .fa { left: 1px; }
}

.button-wrapper {
  text-align: center;
  margin-top: 20px;
}

.quick-button {
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  color: $t;
  text-align: center;
  z-index: 99;
  background: $w;
  border: 1px solid $w;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  transition: all 0.6s ease-in;
  cursor: pointer;
  top: -54%;
  left: 48%;
  left: calc(50% - 17px);
  outline: none;

  &:active,
  &:focus { outline: none; }
}

hr.wp-block-separator + .quick-button {
  top: -17px;
}

.wp-block-buttons {
  .wp-block-button {
    margin: 0;

    &:nth-child(even) a { @extend .inverse; }
  }
}

.cn-buttons-container .button {
  font-size: 16px;
  line-height: 16px;
}

@media (max-width: $tablet - 1) {
  .button.alt {
    font-size: 12px;
    line-height: 16px;
    padding: 5px 13px;
    border-radius: 6px;
  }

  .wp-block-buttons .wp-block-button:not(:only-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: $tablet) {
  .uni-nav {
    top: calc(50% - 17px);
    width: 34px;
    height: 34px;
    padding-top: 7px;
    font-size: 16px;
  }

  .uni-left-nav { left: -40px; }

  .uni-right-nav {
    right: -40px;

    .fa { left: 1px; }
  }
}
