/** Search form */
.search-form {
  position: relative;
  display: block;
  width: 192px;

  label {
    position: relative;
    z-index: 0;
    display: block;
    margin: 0;
  }
}

.search-field {
  -webkit-appearance: none;
  background: 0;
  color: $t;
  border: 1px solid rgba(178, 178, 178, 0.3);
  height: 26px;
  border-radius: 25px;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  padding: 4px 30px 4px 13px;
  font-family: $fff;

  &:focus {
    outline: 0;
    border-color: $t;
  }
}

.search-submit {
  text-indent: 500%;
  overflow: hidden;
  background: 0;
  border: 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

.submit-icon {
  position: absolute;
  width: 30px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;

  &::before {
    @extend .icon;

    content: "\f002";
    color: $gr;
    position: absolute;
    right: 11px;
    top: 4px;
    z-index: 0;
  }
}

.input,
.selput {
  @extend .form-control;

  background: #fff;
  font-size: 18px;
  border-radius: 0;
  font-family: $fff;
  border: 1px solid rgba(0, 55, 76, 0.3);
}

.quick-contact-form {
  .wrap { background: $lg; }

  .title {
    color: $t;
    text-align: center;
    margin-bottom: 65px;
  }
}

.contact-form {
  label {
    @extend .std-font;

    display: block;

    span { color: $t; }
  }

  .input,
  .selput {
    width: 100%;
    margin: 16px 0 0;
  }

  .submit-row {
    text-align: center;
  }

  .wpcf7-submit {
    @extend .button;

    background: $t;
    color: $w;
    width: 200px;
    font-size: 22px;
    font-family: $fff;
    margin: 58px 0 30px;
  }

  .ajax-loader { float: right; }
}

ul.contact-form {
  margin: 0 auto 30px;
  padding: 0;
  list-style: none;

  .wpcf7-submit { margin-top: 0; }
}

.brochude-form li:last-child { margin-left: 18px; }

.contact-form.page-form {
  margin: 0;

  p { margin: 0 0 30px; }
  label { color: $t; }

  .input,
  .selput { border-color: $gr; }

  textarea { max-height: 120px; }
  .submit-row { text-align: right; }
  .ajax-loader { float: left; }

  .wpcf7-submit {
    background: $g;
    margin: 0;
  }
}

.wpcf7 {
  .wpcf7-form-control-wrap {
    display: block;
    margin-bottom: 20px;
  }

  .wpcf7-not-valid-tip { font-size: 15px; }

  .wpcf7-response-output {
    @extend .std-font;

    border: 0;
  }

  .wpcf7-not-valid {
    background: $gr;
    border-bottom-color: $t;
  }
}

@media (min-width: $tablet) {
  .contact-form.page-form { margin-right: 30px; }
}

@media (min-width: $large) {
  .contact-form.page-form { margin-right: 60px; }
}
